@media (min-width: 992px) {
    .trust_loans{
        height: 110vh;
    }
    .community_lending{
        h1{
            padding-top: 6.75rem;
        }
    }
    .how_works{
        h1{
            padding: 7.75rem 6.25rem;
        }
    }
    .customer_service{
        h1{
            padding-top: 8.75rem;
        }
    }
    footer{
        height: 65vh;
    }
}